@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url(./assets/font/Poppins-Regular.ttf);
}

#s-btn{
    position: relative;
    z-index: 1;
    background: #39D4D6;
    border-radius: 10px;
}
#s-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #674CEF;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
    border-radius: 10px;
}

#s-btn:hover::before{
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    border-radius: 10px;
}

#flash-box{
    position: relative;
    overflow: hidden;
}

#flash-box::before{
    content: '';
    background: rgba(225, 225, 225, 0.3);
    width: 30%;
    height: 100%;
    top: 0%;
    left: -125%;
    transform:  skew(-35deg);
    position: absolute;
    animation-direction: left;
    transition-duration: 900ms;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#flash-box:hover:before{
    left: 150%;
}